body
{
    padding: 50px;
    margin: 0;
    font-family: Verdana;
    background-color: rgb(241, 241, 241);
    height: 720px;
}

li, div, li, ul, h1, h3, aside
{
    padding: 0;
    margin: 0;
}

h1
{
    font-family: Verdana;
}

ul
{
    list-style: none;
}

.main-panel
{
    margin: 0;
    padding: 0;
    border: solid 1px black;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.home-text
{
    margin-left: 5px;
}

.red-text
{
    color: rgb(146, 17, 15);
}

.bold-text
{
    font-weight: bold;
}

nav
{
    overflow: hidden;
}

.navigation-block
{
    margin-left: 3px;
    margin-top: 15px;
    font-size: 13px;
}

.navigation-header
{
    width: 150px;
    float: left;
}

.tutorial-section
{
    float:left;
    background-color: white;
    border: solid 1px rgb(162, 162, 162);
    padding: 0;
    margin-top: 3px;
    margin-left: 40px;
    margin-right: 3px;

    padding: 20px 5px 0 5px;

    height: 640px;
    width: 812px;

    overflow: hidden;
}

.buttons
{
    border-bottom: solid 2px rgb(128, 128, 128);
    padding-bottom: 5px;
    height: 40px;
}

.button
{
    margin-top: 10px;
    width: 130px;
    height: 25px;

    border: solid 2px black;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 6px 9px;
    text-align: center;
}

section
{
    font-family: sans-serif;
}

.button-previous
{
    background-image: url("../img/leftarrow.png");
    background-position: 3px center;
}

.article-header
{
    color: white;
    background-color: rgb(128, 128, 128);
    font-size: 18px;
}

.button-next
{
    background-image: url("../img/rightarrow.png");
    background-position: 117px center;
}

.article
{
    margin-top: 0px;
    padding: 0;
}

.article-header
{
    padding-left: 5px;
}

a
{
    color: rgb(165, 58, 56);
}

.css-logo
{
    float: left;
    width: 130px;
    height: 100px;
    margin-right: 20px;
}

.bottom-buttons
{
    border-top: solid 2px rgb(128, 128, 128);
}

.aside-header
{
    text-align: center;
    font-size: 15px;
}

aside
{
    float: left;
    width: 230px;
    text-align: center;
}

.aside-block
{
    background-color: white;
    border: solid 1px rgb(162, 162, 162);
    overflow: hidden;

    margin-top: 3px;
    margin-right: 3px;
    padding: 0;
    padding-bottom: 5px;
}

input
{
    margin-left: 0;
    margin-top: 0;
}

.input-textbox
{
    width: 120px;
}

.submit-button
{
    margin-left: 0;
    width: 25px;
    border-radius: 4px;
    border: solid 1px black;
}

.search-form
{
    margin-top: 5px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
}

.aside-link
{
    font-size: 15px;
    display: block;
}

.blue-button
{
    display: block;
    border: 1px solid #75a2c2;
    width: 120px;
    height: 40px;
    margin: 3px auto 0 auto;


    background: #d5f0fe;
    color: #64d4fd;
    font-weight: bold;
}