body,
div,
h1,
ul,
li,
p,
span,
button,
input {
  margin: 0;
  padding: 0;
}
body {
  font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
  font-size: 16px;
}
ul {
  list-style: none;
}
#wrapper {
  width: 960px;
  padding: 30px 30px;
}
#wrapper > div {
  border: 1px solid black;
  border-radius: 15px;
  width: 380px;
  height: 463px;
  position: relative;
  background: #eeeeee;
  /* Old browsers */

  background: -moz-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #aaaaaa));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #eeeeee 0%, #aaaaaa 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@botom-color', GradientType=0);
  /* IE6-9 */

}
#wrapper > div > h1 {
  color: #555555;
  font-size: 29px;
  margin-top: 15px;
  margin-left: 22px;
  margin-bottom: 10px;
}
#wrapper > div > ul > li {
  padding: 5px 15px 5px 15px;
  border: 1px solid black;
  border-radius: 15px;
  width: 200px;
  margin-top: 5px;
}
#wrapper > div > ul > li p {
  color: #5c5555;
}
#wrapper > div > ul > li .date {
  font-family: Consolas;
  display: block;
  font-size: 12px;
  text-align: right;
  margin-top: 1px;
  color: #555557;
}
#wrapper > div > ul .me-item {
  margin-left: 133px;
  background: #2bedff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #2bedff 0%, #c0faff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2bedff), color-stop(100%, #c0faff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #2bedff 0%, #c0faff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #2bedff 0%, #c0faff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #2bedff 0%, #c0faff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #2bedff 0%, #c0faff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@botom-color', GradientType=0);
  /* IE6-9 */

}
#wrapper > div > ul .me-item span:first-of-type {
  font-weight: bold;
  font-size: 18px;
  color: #555555;
}
#wrapper > div > ul .toshko-item {
  margin-left: 15px;
  background: #ddffd0;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ddffd0 0%, #6fff3b 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddffd0), color-stop(100%, #6fff3b));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ddffd0 0%, #6fff3b 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ddffd0 0%, #6fff3b 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ddffd0 0%, #6fff3b 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ddffd0 0%, #6fff3b 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@botom-color', GradientType=0);
  /* IE6-9 */

}
#wrapper > div > ul .toshko-item .date {
  text-align: left;
}
#wrapper > div > ul .toshko-item span:first-of-type {
  font-weight: bold;
  font-size: 18px;
  color: #555555;
  display: block;
  text-align: right;
}
#wrapper > div input {
  display: inline-block;
  border-radius: 7px;
  height: 35px;
  width: 260px;
  margin-left: 13px;
  margin-right: 0;
  margin-top: 5px;
  background-color: #eeeeee;
  border: 2px solid #b0b0b0;
  outline: none;
  padding-left: 15px;
  font-size: 13px;
  color: #555555;
}
#wrapper > div button {
  background: #ededed;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ededed 0%, #b1b1b1 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #b1b1b1));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ededed 0%, #b1b1b1 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ededed 0%, #b1b1b1 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ededed 0%, #b1b1b1 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ededed 0%, #b1b1b1 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@botom-color', GradientType=0);
  /* IE6-9 */

  margin-left: -2px;
  height: 28px;
  width: 69px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
#wrapper > div button:hover {
  background: #eeeeee;
  /* Old browsers */

  background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #eeeeee 0%, #eeeeee 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@botom-color', GradientType=0);
  /* IE6-9 */

}
